In [ ]:
'''
This file generates visualizations and data analysis on the PDGA
Player Statistics dataset, which was obtained via html scraping
with the pdga_playerstats_Scrape_... notebook
'''



import pandas as pd
import time
from datetime import datetime
import os

import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns

style.use("fivethirtyeight")

%matplotlib inline

In [3]:
#Importing the dataframe from the scraped .csv file
df = pd.read_csv("./pdga_player_stats_05_11_21_01-48-08.csv")

In [4]:
df.describe()

,Unnamed: 0,PDGA #,Rating,Year,Events,Points
count,132540.000000,132540.000000,132540.000000,132540.0,132540.000000,132451.000000
mean,66269.500000,123588.749668,839.511234,2021.0,3.189784,268.522797
std,38261.146676,47479.682815,157.667087,0.0,3.692549,768.781031
min,0.000000,1.000000,0.000000,2021.0,1.000000,0.000000
25%,33134.750000,92251.000000,823.000000,2021.0,1.000000,22.000000
50%,66269.500000,133556.000000,874.000000,2021.0,2.000000,76.000000
75%,99404.250000,161257.250000,911.000000,2021.0,4.000000,234.000000
max,132539.000000,195727.000000,1054.000000,2021.0,97.000000,28427.000000

In [ ]:
sns.kdeplot(data=df, x="Rating")
plt.show()